/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #eaf1f1;
}

img {
  width: 100% auto;
}

.contentall {
  margin-bottom: 20px;
}
body {
  background-image: url(businass.jpg);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
}


/* Header styles */
  
header {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: #ffffff;
  color: black;
  height: 10%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
}

nav li {
  flex: 1;
  text-align: center;
}
nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
  
nav a:hover {
  background-color: #0078d7;
  color: white;
}
  
/* Main content styles */
.form {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
  
form input[type="password"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #0078d7;
  border-radius: 4px;
  font-size: 16px;
}
  
form button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  background-color: #0078d7;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
  
form button[type="submit"]:hover {
  background-color: #004480;
}
  
.googlelink {
  text-align: center;
  margin-bottom: 20px;
}
  
.flexcontainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Businessman,
.Lorem {
  flex: 1;
  text-align: center;
  padding: 20px;
}
  
.Lorem {
  background-color: #f65a1d;
  color: white;
}
  
.Businessman {
  background-color: yellow;
}



/* Footer styles */
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #3b516b;
  color: #f65a1d;
  height: 10%;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

footer li {
  flex: 1;
}
footer a {
  text-decoration: none;
  color: white;
}
  
footer a:hover {
  background-color: #f65a1d;
}